.main {
    color:black;
    background:orange;
    border: 5px solid black;
    width: 75%;
    padding: 5px;
    text-align: center;
    margin: auto;
    font-family: 'Alata', sans-serif;
    font-size: 35px;
    text-align: center;
}

.list {
    color:black;
    background:white;
    border: 5px solid black;
    width: 75%;
    padding: 5px;
    text-align: center;
    margin: auto;
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    text-align: center;
}

.about {
  color:orange;
  background:white;
  border: 5px solid orange;
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 10px;
}

.aheader {
  color:orange;
  background:white;
  border: 5px solid orange;
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  padding: 10px;
}
