
mark{
color: white;
background: rgb(82, 3, 131);
}

img{
  width:500px;
}

.special {
  color:purple;
  background:white;
  border: 5px solid purple;
  width: 50%;
/* height: 400px; */
}

.header {
  color:white;
  background:rgb(82, 3, 131);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: monospace;
  text-align: center;
  margin: auto;

}

strong {
  font-family: monospace;
  font-size: 18px
}

.fixed {
  color: white;
  background: purple;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 0;
}

.collapsible {
  background-color: rgb(82, 3, 131);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 85%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(43, 0, 70);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
