
mark{
color: white;
background: purple;
}

img{
  width:500px;
}

.special {
  color:purple;
  background:white;
  border: 5px solid purple;
  width: 50%;
/* height: 400px; */
}

.subtitle {
  color:white;
  background:purple
  padding: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: fantasy;
  
}

strong {
  font-family: monospace;
  font-size: 18px
}

.fixed {
  background: purple;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 0;
