*{
  box-sizing: border-box;
}

html, body {
  height:100%;
  /* Disable Scroll */
  overflow:hidden;
  margin: 0;
}

a {
  color: white;
  font-family: 'Texturina', serif;
  font-size: 14pt;
}

.step{
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.block{
  width:50%;
  height:70%;
  border-style: groove;
  border-width: thick;
  border-color: white;
  border-width: 20px;
}

.text{
  height: 30%;
  width:60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.sleep-block{
  background-image: url(starter.jpg);
  background-size: contain;
}

.choice-block{
  background-image: url(diverging.jpg);
  background-size: contain;
}

.boom-block{
  background-image: url(boom.jpg);
  background-size: contain;
}

.jack-block{
  background-image: url(lumberjack.jpg);
  background-size: contain;
}

.eyes-block{
  background-image: url(eyes.jpg);
  background-size: contain;
}

.axe-block{
  background-image: url(axe.jpg);
  background-size: contain;
}

.cut-block{
  background-image: url(cut.jpg);
  background-size: contain;
}

.hollow-block{
  background-image: url(hollow.jpg);
  background-size: contain;
}

.sign-block{
  background-image: url(.jpg);
  background-size: contain;
}

.knife1-block{
  background-image: url(knife-in-tree.jpg);
  background-size: contain;
}

.knife2-block{
  background-image: url(knife-in-tree2.jpg);
  background-size: contain;
}

.knife3-block{
  background-image: url(knife-in-tree3.jpg);
  background-size: contain;
}

.knife4-block{
  background-image: url(knife-in-tree4.jpg);
  background-size: contain;
}

.boar-block{
  background-image: url(wild-boar.jpg);
  background-size: contain;
}

.death-block{
  background-image: url(death.jpg);
  background-size: contain;
}

.treasure-block{
  background-image: url(treasure.jpg);
  background-size: cover;
}
