*{
  box-sizing: border-box;
}

body{
  background:black;
}

.poem{
  align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
  z-index: 2;
}

.circle1 {
  width: 20vw;
  height: 20vw;
  background: black;
  border-radius: 50%;
  z-index: 3;
  align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
  animation: top 550s infinite;
}

.circle2 {
  width: 15vw;
  height: 15vw;
  background: white;
  border-radius: 50%;
  z-index: 1;
  align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
}

.fixed {
  color: rgb(60, 60, 60);
  background: black;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

@keyframes top {
  0% {
    transform: translate(-20%,-20%);
  }


  100% {
    transform: translate(500%, -20%);

  }
